/*
* Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`
*/


body {
    margin: auto;
     font-family: "Georgia", 'Times, Times New Roman, serif';
}

header {
    width: auto;
    background-color: #fff;
    height: 90px;
    border-bottom-style:solid;
    border-bottom-width: 3px;
    border-bottom-color: #cccccc;
    overflow-x: scroll;

}
.menubar {
    width: 960px;
    margin: 0 auto;
    height: 90px;
}

h1 {
  
   font-size: 24px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 18px;
}


header h1{
    float:left;
    margin-left: 0px;
    background-color:#4aaaa5;
    padding: 33px;
    margin-right: 450px;
    color: #ffffff;
    
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
  
}

.nav ul {
	padding: 0;
	display: inline;
    text-align: center;

}


.nav ul li {
	display: inline-block;
	list-style-type: none;
    padding: 16px;
    font-size: 16px;
    color: #777777;
    border-right:solid 1px rgba(119, 119, 119, 0.69);    
}

a {
    text-decoration:none; 
}

a:visited {
        color: #777777}

a:hover {
    color:#4aaaa5;
}

ul li:nth-child(3){
    border-right: none;
    
}



ul li:3rd-child(3){
    border-right: none;
}

.container {
    width: 960px;
    height: auto;;
  margin: 50px auto;

   
}

.aboutme {

    float: left;
    width: 650px;
    background-color: #ffffff;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}
.aboutme h1{
    margin: 20px;
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #dddddd;
    color: #4aaaa5;
}
.aboutme img {
    float:left;
    margin: 10px 20px 0px 20px;
    
}

.aboutme p {
    margin: 20px;
    margin-top: 30px;
    line-height: 140%;
    color: #777777;
    
}

.connect {
    float: left;
    width: 270px;
    margin-left: 36px;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: #dddddd;
    
}

.connect h2 {
    padding: 15px;
    margin: 15px;
    border-bottom-style: solid;
    border-bottom-width: 40px;
    border-bottom-width: 2px;
    border-bottom-color: #dddddd;
    color: #4aaaa5;
}
.connect img {
    
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    clear:both;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    height: 90px;
    text-align: center;
    line-height: 90px;
    border-top-style: solid;
    border-top-width: 6px;
    border-top-color: #4aaaa5;
        
    
}


/*This section is for the portfolio
*/

.portfolio {

    float: left;
    width: 650px;
    background-color: #ffffff;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    text-align: left;
    padding-bottom: 40px;
}
.portfolio h1{
    margin: 20px 5%;
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #dddddd;
    color: #4aaaa5;
}

/*Gallery*/


.port-container {
    width: 960px;
    height: auto;
    margin: 50px auto;
    
}
.gallery {
    position: relative;
    margin: 50px 35px;
}

.image1 {
    position: relative;
    width: 270px;
    height: 100%;
    float: left;
    padding: 10px;
}

.desc1 {
    padding: 10px 15px;
    background: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: 'Georgia', 'Times New Roman', Times, serif; 
    position: absolute;
    width: 240px;
    bottom: 20%;
    z-index: 1;
}

/* Contact Form*/

::-webkit-input-placeholder { /* Chrome */
  color: rgba(184, 184, 184, 0.72);
}
:-ms-input-placeholder { /* IE 10+ */
 color: rgba(184, 184, 184, 0.72);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(184, 184, 184, 0.72);
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(184, 184, 184, 0.72);
}

.contact {
    float: left;
    width: 650px;
    background-color: #ffffff;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding-bottom: 40px;
}
.contact h1{
    margin: 20px 5%;
    padding: 20px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #dddddd;
    color: #4aaaa5;
    text-align: left;
}

.form {
position: relative;
width: 500px;
margin-left: 50%;
left: -257px;
font-family: "Georgia", 'Times, Times New Roman, serif';
color: #777777;

}



input[type=text] {
    width: 100%;
    padding: 10px;
    color: #777;
    border: 1.5px solid #ccc;
    border-radius: 2px;
    outline: none;
    text-align: left;
    margin-bottom: 10px;
}



input[type=email] {
   width: 100%;
    padding: 10px;
    color: #777;
    border: 1.5px solid #ccc;
    border-radius: 2px;
    outline: none;
    text-align: left;
    margin-bottom: 10px;
}


input[type=message] {
    width: 100%;
    height: 300px;
    padding: 10px;
    color: #777;
    border: 1.5px solid #ccc;
    border-radius: 1px;
    outline: none;
    text-align: left;
}


